<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout_user :: headuser"></head>
<body class="corporate">
	<div th:replace="layout/layout_user :: preheaderuser" class="pre-header"></div>
	<div th:replace="layout/layout_user :: headeruser" class="header"></div>
        <div class="main">
          <div class="container">
            <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
            <div class="row margin-bottom-40">
              <!-- BEGIN SALE PRODUCT -->
              <hr />
              <h2 align="center">TOUR TRONG NƯỚC YÊU THÍCH</h2>
              <hr />
              <!-- END SALE PRODUCT -->
              <!-- BEGIN CONTENT -->
              <div class="col-md-12 col-sm-9">
                <div class="row product-list">
                  <!-- PRODUCT ITEM START -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item">
                      <div class="pi-img-wrapper">
                        <img src="../../static/assets/frontend/pages/img/products/model1.jpg" class="img-responsive" alt="Berry Lace Dress"  th:src="@{/assets/frontend/pages/img/products/model1.jpg}" />
                        <div>
                          <a href="../../static/assets/frontend/pages/img/products/model1.jpg" class="btn btn-default fancybox-button" th:href="@{/assets/frontend/pages/img/products/model1.jpg}">Xem ảnh</a>
                          <a href="#" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                        </div>
                      </div>
                      <h3><a href="#">Berry Lace Dress Berry Lace Dress</a></h3>
                      <div class="pi-price">3,599,000 đ </div>
                      <a href="#" class="btn btn-default add2cart">Đặt tour</a>
                    </div>
                  </div>
                  <!-- PRODUCT ITEM END -->
                  <!-- PRODUCT ITEM START -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item">
                      <div class="pi-img-wrapper">
                        <img src="../../static/assets/frontend/pages/img/products/model2.jpg" class="img-responsive" alt="Berry Lace Dress"  th:src="@{/assets/frontend/pages/img/products/model2.jpg}" />
                        <div>
                          <a href="../../static/assets/frontend/pages/img/products/model2.jpg" class="btn btn-default fancybox-button" th:href="@{/assets/frontend/pages/img/products/model2.jpg}">Xem ảnh</a>
                          <a href="#" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                        </div>
                      </div>
                      <h3><a href="#">Berry Lace Dress</a></h3>
                      <div class="pi-price">3,456,789 đ</div>
                      <a href="#" class="btn btn-default add2cart">Đặt tour</a>
                    </div>
                  </div>
                  <!-- PRODUCT ITEM END -->
                  <!-- PRODUCT ITEM START -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item">
                      <div class="pi-img-wrapper">
                        <img src="../../static/assets/frontend/pages/img/products/model6.jpg" class="img-responsive" alt="Berry Lace Dress"  th:src="@{/assets/frontend/pages/img/products/model6.jpg}" />
                        <div>
                          <a href="../../static/assets/frontend/pages/img/products/model6.jpg" class="btn btn-default fancybox-button" th:href="@{/assets/frontend/pages/img/products/model6.jpg}">Xem ảnh</a>
                          <a href="#" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                        </div>
                      </div>
                      <h3><a href="#">Berry Lace Dress 2</a></h3>
                      <div class="pi-price">1,234,567 đ</div>
                      <a href="#" class="btn btn-default add2cart">Đặt tour</a>
                    </div>
                  </div>              
                  <!-- PRODUCT ITEM END -->
                </div>
                <div class="row product-list">
                  <!-- PRODUCT ITEM START -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item">
                      <div class="pi-img-wrapper">
                        <img src="../../static/assets/frontend/pages/img/products/model4.jpg" class="img-responsive" alt="Berry Lace Dress"  th:src="@{/assets/frontend/pages/img/products/model4.jpg}" />
                        <div>
                          <a href="../../static/assets/frontend/pages/img/products/model4.jpg" class="btn btn-default fancybox-button" th:href="@{/assets/frontend/pages/img/products/model4.jpg}">Xem ảnh</a>
                          <a href="#" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                        </div>
                      </div>
                      <h3><a href="#">Berry Lace Dress Berry Lace Dress</a></h3>
                      <div class="pi-price">4,567,890 đ</div>
                      <a href="#" class="btn btn-default add2cart">Đặt tour</a>
                    </div>
                  </div>
                  <!-- PRODUCT ITEM END -->
                  <!-- PRODUCT ITEM START -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item">
                      <div class="pi-img-wrapper">
                        <img src="../../static/assets/frontend/pages/img/products/model5.jpg" class="img-responsive" alt="Berry Lace Dress"  th:src="@{/assets/frontend/pages/img/products/model5.jpg}" />
                        <div>
                          <a href="../../static/assets/frontend/pages/img/products/model5.jpg" class="btn btn-default fancybox-button" th:href="@{/assets/frontend/pages/img/products/model5.jpg}">Xem ảnh</a>
                          <a href="#" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                        </div>
                      </div>
                      <h3><a href="#">Berry Lace Dress</a></h3>
                      <div class="pi-price">968,968 đ</div>
                      <a href="#" class="btn btn-default add2cart">Đặt tour</a>
                    </div>
                  </div>
                  <!-- PRODUCT ITEM END -->
                  <!-- PRODUCT ITEM START -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item">
                      <div class="pi-img-wrapper">
                        <img src="../../static/assets/frontend/pages/img/products/model3.jpg" class="img-responsive" alt="Berry Lace Dress"  th:src="@{/assets/frontend/pages/img/products/model3.jpg}" />
                        <div>
                          <a href="../../static/assets/frontend/pages/img/products/model3.jpg" class="btn btn-default fancybox-button" th:href="@{/assets/frontend/pages/img/products/model3.jpg}">Xem ảnh</a>
                          <a href="#" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                        </div>
                      </div>
                      <h3><a href="#">Berry Lace Dress</a></h3>
                      <div class="pi-price">9,123,456 đ</div>
                      <a href="#" class="btn btn-default add2cart">Đặt tour</a>
                    </div>
                  </div>              
                  <!-- PRODUCT ITEM END -->
                </div>
                <!-- END PRODUCT LIST -->
              </div>
              <!-- END CONTENT -->
            </div>
            <!-- END SALE PRODUCT & NEW ARRIVALS -->
          </div>                
          <!-- END TABS AND TESTIMONIALS -->
          
            <div class="container">
              <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
              <div class="row margin-bottom-40">
                <!-- BEGIN SALE PRODUCT -->
                <div class="col-md-12 sale-product">
                  <hr />
                  <h2 align="center">TOUR QUỐC TẾ YÊU THÍCH</h2>
                  <hr />
                <!-- END SALE PRODUCT -->
                <!-- BEGIN CONTENT -->
                <div class="col-md-12 col-sm-9">
                  <div class="row product-list">
                    <!-- PRODUCT ITEM START -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <img src="../../static/assets/frontend/pages/img/products/model1.jpg" class="img-responsive" alt="Berry Lace Dress"  th:src="@{/assets/frontend/pages/img/products/model1.jpg}" />
                          <div>
                            <a href="../../static/assets/frontend/pages/img/products/model1.jpg" class="btn btn-default fancybox-button" th:href="@{/assets/frontend/pages/img/products/model.jpg}">Xem ảnh</a>
                            <a href="#" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                          </div>
                        </div>
                        <h3><a href="#">Berry Lace Dress Berry Lace Dress</a></h3>
                        <div class="pi-price">3,132,456 đ</div>
                        <a href="#" class="btn btn-default add2cart">Đặt tour</a>
                      </div>
                    </div>
                    <!-- PRODUCT ITEM END -->
                    <!-- PRODUCT ITEM START -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <img src="../../static/assets/frontend/pages/img/products/model2.jpg" class="img-responsive" alt="Berry Lace Dress"  th:src="@{/assets/frontend/pages/img/products/model2.jpg}" />
                          <div>
                            <a href="../../static/assets/frontend/pages/img/products/model2.jpg" class="btn btn-default fancybox-button" th:href="@{/assets/frontend/pages/img/products/model2.jpg}">Xem ảnh</a>
                            <a href="#" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                          </div>
                        </div>
                        <h3><a href="#">Berry Lace Dress</a></h3>
                        <div class="pi-price">6,456,789 đ</div>
                        <a href="#" class="btn btn-default add2cart">Đặt tour</a>
                      </div>
                    </div>
                    <!-- PRODUCT ITEM END -->
                    <!-- PRODUCT ITEM START -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <img src="../../static/assets/frontend/pages/img/products/model6.jpg" class="img-responsive" alt="Berry Lace Dress"  th:src="@{/assets/frontend/pages/img/products/model6.jpg}" />
                          <div>
                            <a href="../../static/assets/frontend/pages/img/products/model6.jpg" class="btn btn-default fancybox-button" th:href="@{/assets/frontend/pages/img/products/model6.jpg}">Xem ảnh</a>
                            <a href="#" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                          </div>
                        </div>
                        <h3><a href="#">Berry Lace Dress 2</a></h3>
                        <div class="pi-price">147,258,369</div>
                        <a href="#" class="btn btn-default add2cart">Đặt tour</a>
                      </div>
                    </div>              
                    <!-- PRODUCT ITEM END -->
                  </div>
                  <div class="row product-list">
                    <!-- PRODUCT ITEM START -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <img src="../../static/assets/frontend/pages/img/products/model4.jpg" class="img-responsive" alt="Berry Lace Dress"  th:src="@{/assets/frontend/pages/img/products/model4.jpg}" />
                          <div>
                            <a href="../../static/assets/frontend/pages/img/products/model4.jpg" class="btn btn-default fancybox-button" th:href="@{/assets/frontend/pages/img/products/model4.jpg}">Xem ảnh</a>
                            <a href="#" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                          </div>
                        </div>
                        <h3><a href="#">Berry Lace Dress Berry Lace Dress</a></h3>
                        <div class="pi-price">999,999 đ</div>
                        <a href="#" class="btn btn-default add2cart">Đặt tour</a>
                      </div>
                    </div>
                    <!-- PRODUCT ITEM END -->
                    <!-- PRODUCT ITEM START -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <img src="../../static/assets/frontend/pages/img/products/model5.jpg" class="img-responsive" alt="Berry Lace Dress"  th:src="@{/assets/frontend/pages/img/products/model5.jpg}" />
                          <div>
                            <a href="../../static/assets/frontend/pages/img/products/model5.jpg" class="btn btn-default fancybox-button" th:href="@{/assets/frontend/pages/img/products/model5.jpg}">Xem ảnh</a>
                            <a href="#" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                          </div>
                        </div>
                        <h3><a href="#">Berry Lace Dress</a></h3>
                        <div class="pi-price">888,888 đ</div>
                        <a href="#" class="btn btn-default add2cart">Đặt tour</a>

                      </div>
                    </div>
                    <!-- PRODUCT ITEM END -->
                    <!-- PRODUCT ITEM START -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <img src="../../static/assets/frontend/pages/img/products/model3.jpg" class="img-responsive" alt="Berry Lace Dress"  th:src="@{/assets/frontend/pages/img/products/model3.jpg}" />
                          <div>
                            <a href="../../static/assets/frontend/pages/img/products/model3.jpg" class="btn btn-default fancybox-button" th:href="@{/assets/frontend/pages/img/products/model3.jpg}">Xem ảnh</a>
                            <a href="#" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                          </div>
                        </div>
                        <h3><a href="#">Berry Lace Dress</a></h3>
                        <div class="pi-price">777,777 đ</div>
                        <a href="#" class="btn btn-default add2cart">Đặt tour</a>
                      </div>
                    </div>              
                    <!-- PRODUCT ITEM END -->
                  </div>
                  <!-- END PRODUCT LIST -->
                </div>
                <!-- END CONTENT -->
              </div>
      </div>                
      <!-- END TABS AND TESTIMONIALS -->
    </div>
  </div>
  <div th:replace="layout/layout_user :: prefooteruser" class="pre-footer"></div>
								<div th:replace="layout/layout_user :: footeruser" class="footer"></div>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initOWL();
            RevosliderInit.initRevoSlider();
            Layout.initTwitter();
            //Layout.initFixHeaderWithPreHeader(); /* Switch On Header Fixing (only if you have pre-header) */
            //Layout.initNavScrolling(); 
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>