<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Trang chủ</title>
  <meta charset="utf-8">
  <title>Metronic Frontend (with Top Bar)</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="Metronic Shop UI description" name="description">
  <meta content="Metronic Shop UI keywords" name="keywords">
  <meta content="keenthemes" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
  <meta property="og:url" content="-CUSTOMER VALUE-">
  <link rel="shortcut icon" href="../../static/assets/favicon.ico">
  
  <!-- Global styles START -->
  <link href="../../static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../static/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Global styles END -->   
  <!-- Page level plugin styles START -->
  <link href="../../static/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
  <link href="../../static/assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
  <link href="../../static/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
  <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"><!-- for slider-range -->
  <link href="../../static/assets/global/plugins/rateit/src/rateit.css" rel="stylesheet" type="text/css">
  <link href="../../static/assets/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css" rel="stylesheet">
  <link href="../../static/assets/global/plugins/slider-layer-slider/css/layerslider.css" rel="stylesheet">
  <!-- Page level plugin styles END --> 
  <!-- Theme styles START -->
  <link href="../../static/assets/global/css/components.css" rel="stylesheet">
  <link href="../../static/assets/frontend/layout/css/style.css" rel="stylesheet">
  <link href="../../static/assets/frontend/pages/css/style-shop.css" rel="stylesheet" type="text/css">
  <link href="../../static/assets/frontend/pages/css/style-layer-slider.css" rel="stylesheet">
  <link href="../../static/assets/frontend/pages/css/style-revolution-slider.css" rel="stylesheet"><!-- metronic revo slider styles -->
  <link href="../../static/assets/frontend/layout/css/style-responsive.css" rel="stylesheet">
  <link href="../../static/assets/frontend/layout/css/themes/red.css" rel="stylesheet" id="style-color">
  <link href="../../static/assets/frontend/layout/css/custom.css" rel="stylesheet">
  <!-- Theme styles END -->

</head>

<body class="corporate">
  <!-- BEGIN TOP BAR -->
  <div class="pre-header">
    <div class="container">
      <div class="row">
        <!-- BEGIN TOP BAR LEFT PART -->
        <div class="col-md-6 col-sm-6 additional-shop-info">
          <ul class="list-unstyled list-inline">
            <li><i class="fa fa-phone"></i><span>(+84) 111 111 1111</span></li>
            <li><i class="fa fa-envelope-o"></i><span>info@hackademics.vn</span></li>
          </ul>
        </div>
        <!-- END TOP BAR LEFT PART -->
        <!-- BEGIN TOP BAR MENU -->
        <div class="col-md-6 col-sm-6 additional-nav">
          <ul class="list-unstyled list-inline pull-right">
            <li><a href="dangnhap.html">Đăng nhập</a></li>
            <li><a href="dangky.html">Đăng ký</a></li>
          </ul>
        </div>
        <!-- END TOP BAR MENU -->
      </div>
    </div>        
  </div>
  <!-- END TOP BAR -->
  <!-- BEGIN HEADER -->
  <div class="header">
    <div class="container">
      <a class="site-logo" href="#"><img src="../../static/assets/frontend/layout/img/logos/logo-kv.jpg" alt="Metronic FrontEnd"></a>
      <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
      <!-- BEGIN NAVIGATION -->
      <div class="header-navigation pull-right font-transform-inherit">
        <ul>
          <li >
            <a  href="index.html">
              Trang chủ 
            </a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
              Trong nước
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a href="#">Miền bắc<i class="fa fa-angle-right"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="chitiet.html">Hạ Long</a></li>
                  <li><a href="chitiet.html">Sapa</a></li>
                  <li><a href="chitiet.html">Hà Nội</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#">Miền trung<i class="fa fa-angle-right"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="chitiet.html">Đà nẵng</a></li>
                  <li><a href="chitiet.html">Nha Trang</a></li>
                  <li><a href="chitiet.html">Đà Lạt</a></li>
                  <li><a href="chitiet.html">Hội An</a></li>
                  <li><a href="chitiet.html">Huế</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#">Miền nam<i class="fa fa-angle-right"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="chitiet.html">Hồ Chí Minh</a></li>
                  <li><a href="chitiet.html">Côn Đảo</a></li>
                </ul>
              </li>       
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
              Quốc Tế
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a href="chitiet.html">Đông Nam Á</a>
              </li>

              <li class="dropdown-submenu">
                <a href="chitiet.html">Châu Á</a>
              </li>
              <li class="dropdown-submenu">
                <a href="chitiet.html">Châu Âu</a>
              </li>
            </ul>
          </li>
          <li >
            <a  href="lienhe.html">
              Liên hệ 
            </a>
          </li>
          <!-- BEGIN TOP SEARCH -->
          <li class="menu-search">
            <span class="sep"></span>
            <i class="fa fa-search search-btn"></i>
            <div class="search-box">
              <form action="#">
                <div class="input-group">
                  <input type="text" placeholder="Search" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Search</button>
                  </span>
                </div>
              </form>
            </div> 
          </li>
          <!-- END TOP SEARCH -->
        </ul>
      </div>
      <!-- END NAVIGATION -->
    </div>
  </div>
  <!-- Header END -->
  <!-- BEGIN SLIDER -->
  <div class="page-slider margin-bottom-40">
    <div class="fullwidthbanner-container revolution-slider">
      <div class="fullwidthabnner" data-nav="thumbs">
        <ul id="revolutionul">
          <!-- THE NEW SLIDE -->
          <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="../../static/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
            <img src="../../static/assets/frontend/pages/img/revolutionslider/bg1.jpg" alt="">
          </li>    
          <!-- THE FIRST SLIDE -->
          <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="../../static/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
            <img src="../../static/assets/frontend/pages/img/revolutionslider/lady.jpg" alt="">
          </li>
          <!-- THE SECOND SLIDE -->
          <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-delay="9400" data-thumb="../../static/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">                        
            <img src="../../static/assets/frontend/pages/img/revolutionslider/lady1.jpg" alt="">
          </li>
          <!-- THE THIRD SLIDE -->
          <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="../../static/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
            <img src="../../static/assets/frontend/pages/img/revolutionslider/lady3.jpg" alt="">
          </li>  
        </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
    </div>
    <!-- END SLIDER -->
    
        <div class="main">
          <div class="container">
            <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
            <div class="row margin-bottom-40">
              <!-- BEGIN SALE PRODUCT -->
              <hr>
              <h2 align="center">TOUR TRONG NƯỚC YÊU THÍCH</h2>
              <hr>
              <!-- END SALE PRODUCT -->
              <!-- BEGIN CONTENT -->
              <div class="col-md-12 col-sm-9">
                <div class="row product-list">
                  <!-- PRODUCT ITEM START -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item">
                      <div class="pi-img-wrapper">
                        <img src="../../static/assets/frontend/pages/img/products/model1.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                          <a href="../../static/assets/frontend/pages/img/products/model1.jpg" class="btn btn-default fancybox-button">Xem ảnh</a>
                          <a href="chitiet.html" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                        </div>
                      </div>
                      <h3><a href="shop-item.html">Berry Lace Dress Berry Lace Dress</a></h3>
                      <div class="pi-price">3,599,000 đ </div>
                      <a href="dattour.html" class="btn btn-default add2cart">Đặt tour</a>
                    </div>
                  </div>
                  <!-- PRODUCT ITEM END -->
                  <!-- PRODUCT ITEM START -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item">
                      <div class="pi-img-wrapper">
                        <img src="../../static/assets/frontend/pages/img/products/model2.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                          <a href="../../static/assets/frontend/pages/img/products/model2.jpg" class="btn btn-default fancybox-button">Xem ảnh</a>
                          <a href="chitiet.html" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                        </div>
                      </div>
                      <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                      <div class="pi-price">3,456,789 đ</div>
                      <a href="dattour.html" class="btn btn-default add2cart">Đặt tour</a>
                    </div>
                  </div>
                  <!-- PRODUCT ITEM END -->
                  <!-- PRODUCT ITEM START -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item">
                      <div class="pi-img-wrapper">
                        <img src="../../static/assets/frontend/pages/img/products/model6.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                          <a href="../../static/assets/frontend/pages/img/products/model6.jpg" class="btn btn-default fancybox-button">Xem ảnh</a>
                          <a href="chitiet.html" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                        </div>
                      </div>
                      <h3><a href="shop-item.html">Berry Lace Dress 2</a></h3>
                      <div class="pi-price">1,234,567 đ</div>
                      <a href="dattour.html" class="btn btn-default add2cart">Đặt tour</a>
                    </div>
                  </div>              
                  <!-- PRODUCT ITEM END -->
                </div>
                <div class="row product-list">
                  <!-- PRODUCT ITEM START -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item">
                      <div class="pi-img-wrapper">
                        <img src="../../static/assets/frontend/pages/img/products/model4.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                          <a href="../../static/assets/frontend/pages/img/products/model4.jpg" class="btn btn-default fancybox-button">Xem ảnh</a>
                          <a href="chitiet.html" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                        </div>
                      </div>
                      <h3><a href="shop-item.html">Berry Lace Dress Berry Lace Dress</a></h3>
                      <div class="pi-price">4,567,890 đ</div>
                      <a href="dattour.html" class="btn btn-default add2cart">Đặt tour</a>
                    </div>
                  </div>
                  <!-- PRODUCT ITEM END -->
                  <!-- PRODUCT ITEM START -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item">
                      <div class="pi-img-wrapper">
                        <img src="../../static/assets/frontend/pages/img/products/model5.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                          <a href="../../static/assets/frontend/pages/img/products/model5.jpg" class="btn btn-default fancybox-button">Xem ảnh</a>
                          <a href="chitiet.html" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                        </div>
                      </div>
                      <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                      <div class="pi-price">968,968 đ</div>
                      <a href="dattour.html" class="btn btn-default add2cart">Đặt tour</a>
                    </div>
                  </div>
                  <!-- PRODUCT ITEM END -->
                  <!-- PRODUCT ITEM START -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item">
                      <div class="pi-img-wrapper">
                        <img src="../../static/assets/frontend/pages/img/products/model3.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                          <a href="../../static/assets/frontend/pages/img/products/model3.jpg" class="btn btn-default fancybox-button">Xem ảnh</a>
                          <a href="chitiet.html" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                        </div>
                      </div>
                      <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                      <div class="pi-price">9,123,456 đ</div>
                      <a href="dattour.html" class="btn btn-default add2cart">Đặt tour</a>
                    </div>
                  </div>              
                  <!-- PRODUCT ITEM END -->
                </div>
                <!-- END PRODUCT LIST -->
              </div>
              <!-- END CONTENT -->
            </div>
            <!-- END SALE PRODUCT & NEW ARRIVALS -->
          </div>                
          <!-- END TABS AND TESTIMONIALS -->
          
            <div class="container">
              <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
              <div class="row margin-bottom-40">
                <!-- BEGIN SALE PRODUCT -->
                <div class="col-md-12 sale-product">
                  <hr>
                  <h2 align="center">TOUR QUỐC TẾ YÊU THÍCH</h2>
                  <hr>
                <!-- END SALE PRODUCT -->
                <!-- BEGIN CONTENT -->
                <div class="col-md-12 col-sm-9">
                  <div class="row product-list">
                    <!-- PRODUCT ITEM START -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <img src="../../static/assets/frontend/pages/img/products/model1.jpg" class="img-responsive" alt="Berry Lace Dress">
                          <div>
                            <a href="../../static/assets/frontend/pages/img/products/model1.jpg" class="btn btn-default fancybox-button">Xem ảnh</a>
                            <a href="chitiet.html" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                          </div>
                        </div>
                        <h3><a href="shop-item.html">Berry Lace Dress Berry Lace Dress</a></h3>
                        <div class="pi-price">3,132,456 đ</div>
                        <a href="#" class="btn btn-default add2cart">Đặt tour</a>
                      </div>
                    </div>
                    <!-- PRODUCT ITEM END -->
                    <!-- PRODUCT ITEM START -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <img src="../../static/assets/frontend/pages/img/products/model2.jpg" class="img-responsive" alt="Berry Lace Dress">
                          <div>
                            <a href="../../static/assets/frontend/pages/img/products/model2.jpg" class="btn btn-default fancybox-button">Xem ảnh</a>
                            <a href="chitiet.html" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                          </div>
                        </div>
                        <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                        <div class="pi-price">6,456,789 đ</div>
                        <a href="#" class="btn btn-default add2cart">Đặt tour</a>
                      </div>
                    </div>
                    <!-- PRODUCT ITEM END -->
                    <!-- PRODUCT ITEM START -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <img src="../../static/assets/frontend/pages/img/products/model6.jpg" class="img-responsive" alt="Berry Lace Dress">
                          <div>
                            <a href="../../static/assets/frontend/pages/img/products/model6.jpg" class="btn btn-default fancybox-button">Xem ảnh</a>
                            <a href="chitiet.html" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                          </div>
                        </div>
                        <h3><a href="shop-item.html">Berry Lace Dress 2</a></h3>
                        <div class="pi-price">147,258,369</div>
                        <a href="#" class="btn btn-default add2cart">Đặt tour</a>
                      </div>
                    </div>              
                    <!-- PRODUCT ITEM END -->
                  </div>
                  <div class="row product-list">
                    <!-- PRODUCT ITEM START -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <img src="../../static/assets/frontend/pages/img/products/model4.jpg" class="img-responsive" alt="Berry Lace Dress">
                          <div>
                            <a href="../../static/assets/frontend/pages/img/products/model4.jpg" class="btn btn-default fancybox-button">Xem ảnh</a>
                            <a href="chitiet.html" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                          </div>
                        </div>
                        <h3><a href="shop-item.html">Berry Lace Dress Berry Lace Dress</a></h3>
                        <div class="pi-price">999,999 đ</div>
                        <a href="#" class="btn btn-default add2cart">Đặt tour</a>
                      </div>
                    </div>
                    <!-- PRODUCT ITEM END -->
                    <!-- PRODUCT ITEM START -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <img src="../../static/assets/frontend/pages/img/products/model5.jpg" class="img-responsive" alt="Berry Lace Dress">
                          <div>
                            <a href="../../static/assets/frontend/pages/img/products/model5.jpg" class="btn btn-default fancybox-button">Xem ảnh</a>
                            <a href="chitiet.html" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                          </div>
                        </div>
                        <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                        <div class="pi-price">888,888 đ</div>
                        <a href="#" class="btn btn-default add2cart">Đặt tour</a>

                      </div>
                    </div>
                    <!-- PRODUCT ITEM END -->
                    <!-- PRODUCT ITEM START -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <img src="../../static/assets/frontend/pages/img/products/model3.jpg" class="img-responsive" alt="Berry Lace Dress">
                          <div>
                            <a href="../../static/assets/frontend/pages/img/products/model3.jpg" class="btn btn-default fancybox-button">Xem ảnh</a>
                            <a href="chitiet.html" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                          </div>
                        </div>
                        <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                        <div class="pi-price">777,777 đ</div>
                        <a href="#" class="btn btn-default add2cart">Đặt tour</a>
                      </div>
                    </div>              
                    <!-- PRODUCT ITEM END -->
                  </div>
                  <!-- END PRODUCT LIST -->
                </div>
                <!-- END CONTENT -->
              </div>
      </div>                
      <!-- END TABS AND TESTIMONIALS -->
    </div>
  </div>
  
    <!-- BEGIN PRE-FOOTER -->
    <div class="pre-footer">
      <div class="container">
        <div class="row">
          <!-- BEGIN BOTTOM ABOUT BLOCK -->
          <div class="col-md-4 col-sm-6 pre-footer-col">
            <h2>Trong nước</h2>
            <address class="margin-bottom-40">
              <a href="#">Hạ Long</a> <br />
              <a href="#">Sapa</a> <br />
              <a href="#">Hà Nội</a> <br />
              <a href="#">Đà nẵng</a> <br />
              <a href="#">Nha Trang</a> <br />
              <a href="#">Đà Lạt</a> <br />
              <a href="#">Hội An</a> <br />
              <a href="#">Huế</a> <br />
              <a href="#">Hồ Chí Minh</a> <br />
              <a href="#">Côn Đảo</a> <br />
            </address>
          </div>
          <!-- END BOTTOM ABOUT BLOCK -->
          <!-- BEGIN BOTTOM ABOUT BLOCK -->
          <div class="col-md-4 col-sm-6 pre-footer-col">
            <h2>Quốc Tế</h2>
            <address class="margin-bottom-40">
              <a href="#">Campuchia</a> <br />
              <a href="#">Singapore</a> <br />
              <a href="#">Thái lan</a> <br />
              <a href="#">Nhật Bản</a> <br />
              <a href="#">Hàn Quốc</a> <br />
              <a href="#">Pháp</a> <br />
              <a href="#">Nga</a> <br />
              <a href="#">Đức</a> <br />
            </address>
          </div>
          <!-- END BOTTOM ABOUT BLOCK -->
          <!-- BEGIN BOTTOM CONTACTS -->
          <div class="col-md-4 col-sm-6 pre-footer-col">
            <h2>Liên Hệ</h2>
            <address class="margin-bottom-40">
              23 Tô Vĩnh Diện, Khương Trung<br>
              Thanh Xuân, Hà Nội<br>
              Điện thoại: (+84) 111 111 1111<br>
              Fax: 300 323 1456<br>
              Email: <a href="mailto:info@hackademics.vn">info@hackademics.vn</a><br>
              Skype: <a href="skype:hackademics">hackademics</a>
            </address>

            <div class="pre-footer-subscribe-box pre-footer-subscribe-box-vertical">
              <h2>Đăng ký nhận tin</h2>
              <p></p>
              <form action="#">
                <div class="input-group">
                  <input type="text" placeholder="email của bạn@gmail.com" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Đăng ký</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <!-- END BOTTOM CONTACTS -->
        </div>
      </div>
    </div>
    <!-- END PRE-FOOTER -->

    <!-- BEGIN FOOTER -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <!-- BEGIN COPYRIGHT -->
          <div class="col-md-6 col-sm-6 padding-top-10">
            2017 © Hackademics Hà Nội.
          </div>
          <!-- END COPYRIGHT -->
          <!-- BEGIN PAYMENTS -->
          <div class="col-md-6 col-sm-6">
            <ul class="social-footer list-unstyled list-inline pull-right">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>  
          </div>
          <!-- END PAYMENTS -->
        </div>
      </div>
    </div>
    <!-- END FOOTER -->

    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="../../static/assets/global/plugins/respond.min.js"></script>
    <![endif]--> 
    <script src="../../static/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../../static/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="../../static/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>      
    <script src="../../static/assets/frontend/layout/scripts/back-to-top.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="../../static/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
    <script src="../../static/assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js" type="text/javascript"></script><!-- slider for products -->
    <!-- BEGIN RevolutionSlider -->
    <script src="../../static/assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script> 
    <script src="../../static/assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js" type="text/javascript"></script> 
    <script src="../../static/assets/frontend/pages/scripts/revo-slider-init.js" type="text/javascript"></script>
    <!-- END RevolutionSlider -->
    <script src="../../static/assets/frontend/layout/scripts/layout.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initOWL();
            RevosliderInit.initRevoSlider();
            Layout.initTwitter();
            //Layout.initFixHeaderWithPreHeader(); /* Switch On Header Fixing (only if you have pre-header) */
            //Layout.initNavScrolling(); 
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>